/* style forthe registartion page*/
.register-card {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
body {
  margin: 0;
  font-family: "Book Antiqua", Palatino, serif;
}

.nav_item_hover:hover {
  background-color: #d8d8d9;
}

.dark-theme .nav_item_hover:hover {
  background-color: #3a3a3a;
}

/* Base dark theme */
.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
}

/* Header + Footer */
.dark-theme .header,
.dark-theme .footer {
  background-color: #1f1f1f !important;
  color: #f1f1f1;
}

/* Navbar links */
.dark-theme .nav-link {
  color: #f1f1f1 !important;
}

/* Input fields */
.dark-theme input[type="search"] {
  background-color: #2b2b2b !important;
  color: #f1f1f1 !important;
}

/* Icons */

.dark-theme input[type="search"]::placeholder {
  color: white;
}

/* main crad css*/
.current-weather-card {
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;

  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(30px); /* current card slide-up */
  animation: slideUp 4s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* css for the 5 days card*/
/* === Forecast Grid Layout === */
#forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* === Each Forecast Card === */
.forecast-card {
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 140px;
  text-align: center;
  color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(-30px); /* forecast slide-down */
  animation: slideDown 5s ease forwards;
  overflow: hidden;
}

.forecast-card img {
  width: 60px;
  height: 60px;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.forecast-card:hover {
  transform: scale(1.05);
}

.dark-theme .forecast-card {
  color: black !important;
}

.error-alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
